html, body {
  height: 100%; }

body, h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body, p {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-weight: 400;
  font-size: 2.25rem; }

.font-logo-primary-simply {
  font-weight: 500;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.125rem; }

.font-logo-primary-tidy {
  color: #00bdd6; }

div.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 56px auto auto;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.primary-button-with-icon {
  display: inline-flex;
  align-self: flex-end;
  align-items: center;
  height: 48px;
  min-width: 64px;
  padding-left: 16px;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  background: #00bdd6;
  background: -webkit-linear-gradient(#00d6d6, #00a4d6);
  background: linear-gradient(#00d6d6, #00a4d6);
  color: #fafafa;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

.material-icons-button {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
  padding: 12px;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  width: 48px;
  height: 48px;
  background-color: transparent; }

.material-icons-text-left {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
  padding: 12px;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  width: 48px;
  height: 48px;
  background-color: transparent;
  padding-left: 8px; }

nav {
  display: flex;
  width: 100%;
  padding: 4px;
  background-color: #fafafa; }
  nav .navigation-start {
    display: inline-flex;
    align-items: center;
    min-width: 0;
    flex: 1 1 auto;
    order: -1; }
    nav .navigation-start button {
      color: rgba(0, 0, 0, 0.87); }
    nav .navigation-start a {
      padding-left: 20px;
      color: rgba(0, 0, 0, 0.87); }
  nav .navigation-end {
    display: inline-flex;
    align-items: center;
    min-width: 0;
    flex: 1 1 auto;
    order: 1;
    justify-content: flex-end; }
    nav .navigation-end button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.87); }

main .above-the-fold-section {
  background-image: url("../img/homepage-hero-woman-relaxing.jpg");
  min-height: calc(100vh - 56px);
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: cover; }
  main .above-the-fold-section .above-the-fold-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc((100vh - 56px)/2);
    padding-right: 16px; }
    main .above-the-fold-section .above-the-fold-container h1 {
      order: -1;
      align-self: flex-end;
      text-align: right; }
    main .above-the-fold-section .above-the-fold-container a {
      order: 1;
      margin-top: 32px; }

/*# sourceMappingURL=styles.css.map */
