html, body {
  height: 100%; }

body, h1, h2, h3, h4, h5, h6, p, a, button {
  margin: 0;
  padding: 0;
  border: none; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button {
  background: transparent;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; }

.container {
  padding: 4.2666666667vmin; }

html {
  font-size: 16px; }

body {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: #212121; }

:root {
  --sidemenu-opacity: 0;
  --booking-form-popup-opacity: 0; }

.transition_navbar_in {
  left: 0 !important;
  transition: left 0.25s cubic-bezier(0.0, 0.0, 0.2, 1); }

.transition_navbar_out {
  left: -100% !important;
  transition: left 0.2s cubic-bezier(0.4, 0.0, 1, 1); }

.transition_booking-form_in {
  top: 0 !important;
  transition: top 0.3s cubic-bezier(0.0, 0.0, 0.2, 1); }

.transition_booking-form_out {
  top: -100vh !important;
  transition: top 0.25s cubic-bezier(0.4, 0.0, 1, 1); }

.transition_booking-form_expand-service {
  width: 100% !important;
  max-width: none !important;
  height: calc(100% - (4.2666666667vmin));
  max-height: calc((100vh - 56px - calc(9.6vmin + 6.4vmin + 5.3333333333vmin) - (4.2666666667vmin) * 2));
  margin-left: 4.2666666667vmin !important;
  margin-right: 4.2666666667vmin !important;
  transition: width 2s, height 2s cubic-bezier(0.4, 0.0, 0.2, 1); }

.transition_booking-form_expand-container {
  transition: height 0.3s cubic-bezier(0.4, 0.0, 0.2, 1); }

#navbar {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 56px;
  padding: 4px;
  background: #fafafa; }
  #navbar > div:first-of-type {
    display: inline-flex;
    flex-grow: 1;
    align-items: center; }
    #navbar > div:first-of-type > button {
      height: 48px;
      width: 48px;
      padding: 12px;
      border-radius: 2px;
      color: #212121;
      fill: #212121; }
      #navbar > div:first-of-type > button > svg {
        height: 24px;
        width: 24px; }
    #navbar > div:first-of-type > a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      color: #00bcd4;
      font-size: 20px; }
      #navbar > div:first-of-type > a > span {
        color: #212121; }
  #navbar > div:last-of-type {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    display: -webkit-flex;
    color: #212121;
    fill: #212121; }
    #navbar > div:last-of-type > * {
      display: inline-flex;
      align-items: center;
      height: 48px;
      width: 48px;
      padding: 12px;
      border-radius: 2px; }
      #navbar > div:last-of-type > * > svg {
        height: 24px;
        width: 24px; }

#sidebar {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; }
  #sidebar:before {
    background: rgba(0, 0, 0, 0.62);
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    transition: opacity 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: var(--sidemenu-opacity, 0); }
  #sidebar > #sidebar-menu {
    position: absolute;
    left: -100%;
    height: 100%;
    width: 49.8417457938vh;
    max-width: calc(100% - 14.9333333333vw); }
    #sidebar > #sidebar-menu > #sidebar-header {
      display: block;
      position: relative;
      background: #3e2723 url("../img/side-menu-background-illustration.jpg") no-repeat 0 center/cover;
      color: #fafafa;
      fill: #fafafa; }
      #sidebar > #sidebar-menu > #sidebar-header:before {
        display: block;
        padding-top: 56.25%;
        content: ""; }
      #sidebar > #sidebar-menu > #sidebar-header > #sidebar-header-container {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
        #sidebar > #sidebar-menu > #sidebar-header > #sidebar-header-container #sidebar-header-top {
          display: inline-flex;
          align-items: center;
          display: flex;
          display: -webkit-flex;
          justify-content: space-between;
          padding-top: 0.5997001499vh;
          padding-bottom: 0.5997001499vh;
          padding-right: 0.5997001499vh;
          padding-left: 2.3988005997vh;
          width: 100%; }
          #sidebar > #sidebar-menu > #sidebar-header > #sidebar-header-container #sidebar-header-top > p {
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.125rem;
            color: #00bcd4;
            font-size: 2.9985007496vh; }
            #sidebar > #sidebar-menu > #sidebar-header > #sidebar-header-container #sidebar-header-top > p > span {
              color: #fafafa; }
          #sidebar > #sidebar-menu > #sidebar-header > #sidebar-header-container #sidebar-header-top > i {
            height: 7.1964017991vh;
            width: 7.1964017991vh;
            padding: 1.7991004498vh;
            border-radius: 0.299850075vh; }
            #sidebar > #sidebar-menu > #sidebar-header > #sidebar-header-container #sidebar-header-top > i > svg {
              height: 3.5982008996vh;
              width: 3.5982008996vh; }
        #sidebar > #sidebar-menu > #sidebar-header > #sidebar-header-container #sidebar-header-bottom {
          padding: 2.3988005997vh; }
          #sidebar > #sidebar-menu > #sidebar-header > #sidebar-header-container #sidebar-header-bottom > p {
            font-size: 2.3988005997vh;
            letter-spacing: 0.0749625187vh;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            text-transform: none;
            text-transform: capitalize; }
    #sidebar > #sidebar-menu > #sidebar-nav {
      background: #fafafa;
      height: 100%; }
      #sidebar > #sidebar-menu > #sidebar-nav > div {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        padding: 1.1994002999vh 2.3988005997vh 1.1994002999vh 0; }
        #sidebar > #sidebar-menu > #sidebar-nav > div > a {
          display: inline-flex;
          align-items: center;
          width: 100%;
          height: 8.395802099vh;
          text-transform: none;
          color: #212121;
          fill: #212121; }
          #sidebar > #sidebar-menu > #sidebar-nav > div > a > i {
            height: 7.1964017991vh;
            width: 7.1964017991vh;
            padding: 1.7991004498vh;
            border-radius: 0.299850075vh;
            margin-right: 5.4237288136%; }
            #sidebar > #sidebar-menu > #sidebar-nav > div > a > i > svg {
              height: 3.5982008996vh;
              width: 3.5982008996vh; }
          #sidebar > #sidebar-menu > #sidebar-nav > div > a > span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 2.3988005997vh;
            letter-spacing: 0.0749625187vh;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            text-transform: none; }
      #sidebar > #sidebar-menu > #sidebar-nav > #sidebar-nav_primary {
        border-bottom: 1px solid #212121; }
      #sidebar > #sidebar-menu > #sidebar-nav > #sidebar-nav_secondary > a:first-of-type {
        color: #4caf50;
        fill: #4caf50; }
        #sidebar > #sidebar-menu > #sidebar-nav > #sidebar-nav_secondary > a:first-of-type > span {
          text-transform: uppercase; }

#booking-form {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; }
  #booking-form:before {
    background: rgba(0, 0, 0, 0.62);
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: var(--booking-form_opacity, 0); }
  #booking-form > #booking-form_container {
    position: absolute;
    top: -100vh;
    display: grid;
    grid-template: calc(9.6vmin + 6.4vmin + 5.3333333333vmin) auto/1fr;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 56px);
    background: #efebe9; }
    #booking-form > #booking-form_container > #booking-form_header {
      grid-column: 1;
      grid-row: 1 / 3;
      max-height: 42.8571428571vmin;
      background: #3e2723 url("../img/side-menu-background-illustration.jpg") no-repeat 0 center/cover;
      color: #fafafa;
      fill: #fafafa; }
      #booking-form > #booking-form_container > #booking-form_header > #booking-form_header_container {
        display: grid;
        grid-template-columns: 12.8vmin auto 12.8vmin;
        justify-items: center;
        margin: 0 auto; }
        #booking-form > #booking-form_container > #booking-form_header > #booking-form_header_container > p {
          font-size: 5.3333333333vmin;
          letter-spacing: 0.0188235294vmin;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          text-transform: none;
          grid-column-start: 2;
          align-self: center;
          padding-top: 9.6vmin;
          padding-bottom: 6.4vmin; }
        #booking-form > #booking-form_container > #booking-form_header > #booking-form_header_container > i {
          margin-left: auto;
          height: 12.8vmin;
          width: 12.8vmin;
          font-size: 6.4vmin;
          padding: 3.2vmin; }
    #booking-form > #booking-form_container > #booking-form_content {
      grid-column: 1;
      grid-row: 2 / 3;
      justify-self: center;
      width: 100%;
      max-width: calc((100vh - 56px - calc(9.6vmin + 6.4vmin + 5.3333333333vmin) - 4.2666666667vmin) * 1.4); }
      #booking-form > #booking-form_container > #booking-form_content > #booking-form_content_container {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        height: 100%;
        max-height: calc(100vh - 56px - calc(9.6vmin + 6.4vmin + 5.3333333333vmin) - (4.2666666667vmin / 2));
        margin-bottom: 2.1333333333vmin; }
        #booking-form > #booking-form_container > #booking-form_content > #booking-form_content_container > .booking-form_service-button_container {
          width: calc(50% - ( 4.2666666667vw * 1.5));
          margin-bottom: 4.2666666667vmin;
          margin-left: calc(4.2666666667vmin / 2);
          margin-right: calc(4.2666666667vmin / 2);
          position: relative;
          border-radius: 2px;
          background: #00bcd4;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          max-width: calc((100vh - 56px - calc(9.6vmin + 6.4vmin + 5.3333333333vmin) - (4.2666666667vmin) * 2) / 2); }
          #booking-form > #booking-form_container > #booking-form_content > #booking-form_content_container > .booking-form_service-button_container:before {
            display: block;
            content: "";
            padding-top: 100%; }
          #booking-form > #booking-form_container > #booking-form_content > #booking-form_content_container > .booking-form_service-button_container > div {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 16px; }
            #booking-form > #booking-form_container > #booking-form_content > #booking-form_content_container > .booking-form_service-button_container > div > svg {
              fill: #fafafa; }
            #booking-form > #booking-form_container > #booking-form_content > #booking-form_content_container > .booking-form_service-button_container > div > p {
              font-size: 3.7333333333vmin;
              letter-spacing: 0.2285714286vmin;
              font-family: 'Open Sans', sans-serif;
              font-weight: 400;
              text-transform: uppercase;
              text-shadow: 0 0.2666666667vmin 0.5333333333vmin rgba(0, 0, 0, 0.2);
              text-align: center;
              padding-top: 1.0666666667vmin;
              color: #fafafa; }

main > #above-the-fold {
  height: calc(100vh - 56px);
  background: url("../img/homepage-hero-woman-relaxing.jpg") no-repeat 0 center/cover; }
  main > #above-the-fold > .container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-evenly;
    height: 66.6666666667vw;
    max-height: calc(100vh - 56px); }
    main > #above-the-fold > .container > h1 {
      display: inline-flex;
      align-items: center;
      align-self: flex-end;
      font-size: 9.0666666667vw;
      letter-spacing: 0.031372549vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-transform: none;
      color: #212121;
      text-align: right; }
    main > #above-the-fold > .container > a {
      display: inline-flex;
      align-items: center;
      align-self: flex-end;
      height: 12.8vw;
      border-radius: 6.4vw;
      color: #fafafa;
      fill: #fafafa;
      padding-left: 2.6666666667vw;
      padding-right: 7.4666666667vw;
      background: -webkit-linear-gradient(#00bcd4, #008bd4);
      background: linear-gradient(#00bcd4, #008bd4);
      font-size: 3.7333333333vw;
      letter-spacing: 0.2285714286vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      text-shadow: 0 0.2666666667vw 0.5333333333vw rgba(0, 0, 0, 0.2);
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      max-height: calc(100vh - 56px - (4.2666666667vw * 2) - (9.0666666667vw * 2.4)); }
      main > #above-the-fold > .container > a > i > svg {
        filter: drop-shadow(0 0.2666666667vw 0.5333333333vw rgba(0, 0, 0, 0.2)); }
      main > #above-the-fold > .container > a > i {
        height: 12.8vw;
        width: 12.8vw;
        padding: 3.2vw;
        border-radius: 0.5333333333vw; }
        main > #above-the-fold > .container > a > i > svg {
          height: 6.4vw;
          width: 6.4vw; }

/*# sourceMappingURL=styles.css.map */
