//  ====================
//  Images  
//  ====================
//
//  Table of Contents:
//
//  1. Hero images
//
//  ::::::::::::::::::::
//
//  1. Hero images
//  ====================
    $theme_image_hero: (
        homepage: "../img/homepage-hero-woman-relaxing.jpg",
        homepage_color: #dfd1be,
    );
//
//  1. Hero images
//  ====================
    $theme_image_pattern: (
        primary: "../img/side-menu-background-illustration.jpg",
        primary_color: color(dark),
    );