// Primary navigation bar
#page-start>header>nav {
    display: flex;
    width: 100%;
    padding: 4px;
    background-color: var(--navbar-background-color,--white);
    section:first-of-type {
        @include flex-item-standard;        
        flex: 1 1 auto;
        order: -1;
        button {
            color: var(--black);
        }
        i {
            padding-left: 20px;
            color: var(--black);
        }
    }
    section:last-of-type {
        @include flex-item-standard;        
        flex: 1 1 auto;
        order: 1;
        justify-content: flex-end;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--black);  
        }
    }
}
// Side navigation menu
#sidebar {
    height: 100%;
    width: 100%;
    position: fixed;    
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    contain: strict;
    pointer-events: none;
    #sidebar-menu {
        background: var(--white);
        box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
        height: 100%;
        width: calc(100% - 56px);
        max-width: 280px;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -100%;
        #sidebar-header {            
            position: relative;
            display: block;
            background: url("../img/side-menu-background-illustration.jpg") no-repeat 0 center / cover;
            color: var(--white-dull);
            &:before {
                display: block;
                content: "";
                padding-top: 56.25%;
            }
            #sidebar-header-container {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 16px;
                #sidebar-header-top {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    a {
                        color: var(--white-dull);
                    }
                }
            }
        }
        #sidebar-nav {
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px 0;
                a {
                    display: flex;
                    align-items: center;
                    padding: 0 16px;
                    width: 100%;
                    font-size: 0.875rem;
                    line-height: 1;
                    font-weight: 500;
                    height: 48px;
                    color: var(--black-dull);
                    i {
                        margin-right: 32px;
                    }
                }                
            }
            #sidebar-nav-primary {
                border-bottom: 1px solid rgba(0,0,0,0.12);
                a:first-of-type {
                    color: var(--green);
                    text-transform: uppercase;
                }
            }
        }
    }
    &:before {    
        background-color: var(--background-fade-color);     
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        opacity: var(--sidemenu-opacity,0);
        transition: opacity 0.2s cubic-bezier(0.4, 0.0, 1, 1);
        z-index: -1;
    }
}
