// Navbar layout
nav {
    display: flex;
    width: 100%;
    padding: 4px;      
    
    .navigation-start {    
        @include navigation-bar-section;
        order: -1;
        justify-content: flex-start;

        a {
            padding-left: 20px;
        }
    }
    .navigation-end {
        @include navigation-bar-section;
        order: 1;
        justify-content: flex-end;

        button {
            display: flex;
            position: relative;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;      
        }
    }
}