// Navbar layout
nav {
    display: flex;
    width: 100%;
    padding: 4px;
    background-color: $white;    
    
    .navigation-start {    
        @include flex-item-standard;
        order: -1;

        button {
            color: $black;
        }

        a {
            padding-left: 20px;
            color: $black;
        }
    }
    .navigation-end {
        @include flex-item-standard;
        order: 1;
        justify-content: flex-end;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $black;  
        }
    }
}