main {
    .above-the-fold {
        background-image: url("../img/homepage-hero-woman-relaxing.jpg");
        min-height: calc(100vh - 56px);
        background-position: 12% center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}