//  ====================
//  Homepage   
//  ====================
//
//  Table of Contents:
//    
//  1. Main content area
//      - Above the Fold
//          - Container
//              - Page Title
//              - Call to Action
//
//  ::::::::::::::::::::
//
main {
    & > #above-the-fold {      
        height: calc(100vh - #{navigation(navbar, height)});
        background: url(image(hero, homepage)) no-repeat 0 center / cover;
        & > .container {
            @include flex($direction_col: true, $justify_space-evenly: true);
            height: aspect(thin, vw);
            max-height: calc(100vh - #{navigation(navbar, height)});
            & > h1 {
                @include flex-item($align_flex-end: true);
                @include font(h1, vw);
                color: textColor(image(hero, homepage_color));
                text-align: right;
            }
            & > a {                             
                @include flex-item($align_flex-end: true);
                @include button_cta($unit: "vw");
                max-height: calc(100vh - #{navigation(navbar, height)} - (#{convertUnit(padding(default), vw)} * 2) - (#{convertUnit(typography(h1, font-size), vw)} * 2.4));
                & > i {
                    @include button_icon($unit: "vw");
                }
            }
        }
    }
}