html {
    font-size: 16px;
}
body, p {
    font-family: 'Rubik', sans-serif; 
}

// Logo fonts
.font-logo-primary-simply {
    font-weight: 500;
    font-size: 1.25rem;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.125rem;
}
.font-logo-primary-tidy {
    color: $primary-color;
}