@mixin flex-item-standard {  
    display: inline-flex;
    align-items: center;
    min-width: 0;
    flex: 1 1 auto;
}

// Material Design icons
@mixin material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1;
    padding: 12px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    width: 48px;
    height: 48px;
    background-color: transparent;
}